<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarlateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosgenerales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventos.css') }}">
    <title>SENAtourt</title>
</head>
<body>
    <!-- Navbar lateral -->
    <nav class="navbar_lateral">
        <ul class="lista_elementos">
            <li class="elemento_navbar"><a href="{{ url_for('InicioUsuario') }}"><img src="{{ url_for('static', filename='img/menu.png') }}" alt="menu">Inicio</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('CiclasUsuario') }}"><img src="{{ url_for('static', filename='img/bicicleta.png') }}" alt="bicicletas">Ciclas</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('PerfilUsuario') }}"><img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil">Perfil<br>{{ usuario }}</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('EventosUsuario') }}"><img src="https://cdn-icons-png.flaticon.com/512/1968/1968790.png" alt="eventos">Eventos</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('Logout') }}"><img src="https://cdn-icons-png.flaticon.com/512/25/25706.png" alt="salir">SALIR</a></li>
        </ul>
    </nav>
    <div class="container" style="width: auto !important; margin-block:5vh">
        <h1>Eventos SENAtour</h1>
        {% for evento in eventos %}
        <div class="evento">
            <img src="{{ url_for('static', filename='img/imagenes_eventos/' ~ evento.imagenevento | string) }}" alt="menu">
            <div class="info_evento">
                <h2>{{evento.tituloevento}}</h2>
                <p>{{evento.descripcionevento}}</p>
                <p>{{evento.fechahoraevento}}</p>
                <p>{{evento.ubicacionevento}}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>