<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarlateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosgenerales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <title>SENAtourt</title>
</head>
<body>
    <!-- Navbar lateral -->
    <nav class="navbar_lateral">
        <ul class="lista_elementos">
            <li class="elemento_navbar"><a href="{{url_for('InicioUsuario')}}"><img src="{{ url_for('static', filename='img/menu.png') }}" alt="menu">Inicio</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('CiclasUsuario') }}"><img src="{{ url_for('static', filename='img/bicicleta.png') }}" alt="bicicletas">Ciclas</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('PerfilUsuario') }}"><img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil">Perfil<br>{{ usuario }}</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('EventosUsuario') }}"><img src="https://cdn-icons-png.flaticon.com/512/1968/1968790.png" alt="eventos">Eventos</a></li>
            <li class="elemento_navbar"><a href="{{ url_for('Logout') }}"><img src="https://cdn-icons-png.flaticon.com/512/25/25706.png" alt="salir">SALIR</a></li>
        </ul>
    </nav>
    
    <main class="container">
        <div class="contenedor-perfil">
            <form action="{{ url_for('EditarPerfilUsuario') }}" class="formulario" method="POST">
                <h1 class="title">Editar Perfil de {{ usuario }}</h1>
                <label for="">Nombre de Usuario</label>
                <input class="input" type="text" name="usuariousuario" value="{{ usuarios[0] }}">
                <label for="">Email</label>
                <input class="input" type="text" name="emailusuario" value="{{ usuarios[1] }}">
                <label for="">Numero de Documento</label>
                <input class="input" type="number" name="numerodocumentousuario" value="{{ usuarios[2] }}">
                <label for="">Telefono</label>
                <input class="input" type="number" name="telefonousuario" value="{{ usuarios[3] }}">
                <button type="submit" class="btn">Editar</button>
            </form>
        </div>
    </main>
</body>
</html>