<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vista 1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosgenerales.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarlateral.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
</head>
<body>
    <div class="container">
        
        <nav class="navbar_lateral">
            <ul class="lista_elementos">
                <li class="elemento_navbar"><a href="{{url_for('InicioAdmin')}}"><img src="{{ url_for('static', filename='img/menu.png') }}" alt="menu">Inicio</a></li>
                <li class="elemento_navbar"><a href="{{ url_for('CiclasAdmin') }}"><img src="{{ url_for('static', filename='img/bicicleta.png') }}" alt="bicicletas">Ciclas</a></li>
                <li class="elemento_navbar"><a href="{{ url_for('PerfilAdmin') }}"><img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil">Perfiles</a></li>
                <li class="elemento_navbar"><a href="{{ url_for('EventosAdmin') }}"><img src="https://cdn-icons-png.flaticon.com/512/1968/1968790.png" alt="eventos">Eventos</a></li>
                <li class="elemento_navbar"><a href="{{ url_for('Diccionario_datos_bd_sistemaciclassena')}}"><img src="{{ url_for('static', filename='img/diccionario.png') }}" alt="diccionario">Dicc de datos</a></li>
                <li class="elemento_navbar"><a href="{{ url_for('Logout') }}"><img src="https://cdn-icons-png.flaticon.com/512/25/25706.png" alt="salir">SALIR</a></li>
            </ul>
        </nav>
        <div class="limiter">
            <h1>Usuarios Registrados</h1>
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Nombre de Usuario</th>
                                    <th class="column2">Correo Electrónico</th>
                                    <th class="column3">Telefono</th>
                                    <th class="column4">Cedula</th>
                                    <th class="column5">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td class="column1">{{usuario.usuariousuario}}</td>
                                    <td class="column2">{{usuario.emailusuario}}</td>
                                    <td class="column3">{{usuario.telefonousuario}}</td>
                                    <td class="column4">{{usuario.numerodocumentousuario}}</td>
                                    <td class="column6"><a href="{{ url_for('EliminarPerfilAdmin', numerodocumentousuario=usuario.numerodocumentousuario) }}" class="btn">Eliminar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>