/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 2px solid #6A0DAD; /* Color morado */
    padding: 10px;
    text-align: left;
}

th {
    background-color: #D8BFD8; /* Color de fondo morado claro para encabezado */
    color: #fff;
}

td {
    background-color: #F3E5F5; /* Color de fondo morado muy claro para las celdas */
}

/* Estilos para redondear el borde */
table {
    border-radius: 10px; /* Borde redondeado de la tabla */
}

/* Eliminar el borde en las esquinas para mantener el borde redondeado */
th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

td:first-child {
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-bottom-right-radius: 10px;
}

.contenedor-tabla {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 16px;
    align-items: center;
    width: 42%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 251, 251, 0.86);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}